body { color: #808080;
	background-color: #fffff0;
	margin: 20px }

h1 { font-size: 35px;
	height: 50px;
	width: 250px;
	text-align: center;
	border: 5px double;
	padding: 5px;
	float: left; }

h2 { 
	height: 30px;
	width: 250px;
	border: 3px solid;
	padding: 5px }

a { background-color: #9f9fdf;
	font-size: 25px;
	color: #808080;
	border: 3px solid #808080;
	padding: 6px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	float: right;
	margin: 30px }

p { font-size: 16px;
	color: #00008B;
	background-color: #E6E6FA; }

ol.education { list-style-type: upper-alpha }
ul.skills { list-style-type: square }

div.profile_image {
	width: 200px; }

div.flower_pic {
	width: 100px; }
